/* Escriban su contenido de estilos acá */
.profesores-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente (si hay suficiente altura) */
}

h1 {
  font-size: 5rem; /* Ajusta el tamaño de letra del título */
  margin-bottom: 20px; /* Espacio entre el título y la lista */
}

ul {
  list-style-type: none; /* Elimina los puntos de la lista */
  padding: 50px; /* Elimina el padding por defecto */
}

li {
  font-size: 2.5rem; /* Ajusta el tamaño de letra de los elementos de la lista */
  margin: 10px 0; /* Espacio entre los elementos de la lista */
}
